@import 'mixins.scss';

#addNewProductAdmin {
    #newProductForm {
        @include form-style;
        justify-content: space-evenly;
        height: 32em;
        top: 49%;
    
        #logoImage {
            @include logo-style;
        }
    
        h3 {
            @include title-style;
            margin: 0;
        }
    
        .newProductField {
            font-size: 0.9em;
    
            &:first-of-type {
                margin-top: -1em;
            }
    
            .newProductInputField {
                @include input-field-style;
    
                &::placeholder {
                    @include placeholder-style;
                }
            }
    
            #pricePreview {
                font-size: 0.9em;
                position: absolute;
                top: 31.5em;
                right: 44.5em;
                color: lime;

                // Breakpoints 
                @include devices (ultra) {
                    top: 30.7em;
                    right: 35.2em;
                }
                @include devices (laptop) {
                    top: 34.5em;
                    right: 32.7em;
                }
                @include devices (tablet) {
                    top: 39.7em;
                    right: 31.8em;
                }
                @include devices (phone) {
                    right: 11em;
                }
                //==================
            }
    
            #newProductDescription {
                height: 5em;
                resize: none;
            }
        }
    
        #insertProductBtn {
            @include main-btn-style;
            margin-top: 0.5em;
        }
    }

    #newProductErrorSplash {
        @include splash-style;

        #gotItBtn {
            @include main-btn-style;
        }
    }

    #newProductSuccesSplash {
        @include splash-style;

        #returnBtn {
            @include main-btn-style;
        }
    }
}

#listProductsAdmin {
    #products-list-admin {
        @include list-style;
    
        .product {
            @include list-item-style;

            // Breakpoints
            @include devices (laptop) {
                width: 60em;
            }
            @include devices (tablet) {
                width: 52em;
            }
            @include devices (phone) {
                width: 90%;
                margin: 0 auto;
                font-size: 0.8em;
                gap: 5px;
            }
            //=====================================
    
            .productPreview {
                width: 8%;
                border-radius: 6px;
                box-shadow: 1px 1px 5px #353535;
            }
    
            .productTablePart {
                @include table-part-style;

                // Breakpoints
                @include devices (phone) {
                    overflow-x: auto;
                    min-width: 15%;
                    max-width: 25%;
                }
                //================================
            }
    
            .deleteItemBtn {
                @include delete-item-btn-style;
                display: flex;
                justify-content: space-evenly;

                // Breakpoints
                @include devices (laptop) {
                    margin-left: 2em;
                }
                @include devices (phone) {
                    margin-left: 1em;
                }
                //================================

                i {
                    //Breakpoints
                    @include devices (tablet) {
                        display: none;
                    }
                    //=============
                }
            }
        }
    }

    #delProductErrorSplash {
        @include splash-style;
    
        #gotItBtn {
            @include main-btn-style;
        }
    }

    #delProductConfirmSplash {
        @include splash-style;

        .mainBtns {
            width: 100%;
            display: flex;
            justify-content: space-between;

            #proceedBtn, #cancelBtn {
                @include main-btn-style;
                width: 8em;
            }
        }
    }

    #delProductSuccesSplash {
        @include splash-style;

        #goBackBtn {
            @include main-btn-style;
        }
    }
}

#listCustomersAdmin {
    #customers-list-admin {
        @include list-style;
    
        .client {
            @include list-item-style;
            width: 60em;

            // Breakpoints
            @include devices (tablet) {
                width: 52em;
            }
            @include devices (phone) {
                width: 37em;
                margin: 0 auto;
                font-size: 0.8em;
                gap: 5px;
            }
            //============================
    
            .clientTablePart {
                @include table-part-style;
                min-width: 22%;
                max-width: 22%;
                overflow-x: scroll;
            }
    
            .deleteCustomerBtn {
                @include delete-item-btn-style;
                display: flex;
                justify-content: space-evenly;
                margin-right: 0.5em;

                i {
                    // Breakpoints  
                    @include devices (phone) {
                        display: none;
                    }
                    //=============
                }
            }
        }
    } 

    #delCustomerErrorSplash {
        @include splash-style;

        #gotItBtn {
            @include main-btn-style;
        }
    }

    #delCustomerConfirmSplash {
        @include splash-style;

        .mainBtns {
            width: 100%;
            display: flex;
            justify-content: space-between;

            #proceedBtn, #cancelBtn {
                @include main-btn-style;
                width: 8em;
            }
        }
    }

    #delCustomerSuccesSplash {
        @include splash-style;

        #goBackBtn {
            @include main-btn-style;
        }
    }
}

#listOrdersAdm {
    #refreshCountdown {
        @include refresh-countdown-style;

        // Breakpoints
        @include devices (ultra) {
            left: 5.5em;
        }
        @include devices (laptop) {
            left: 7.5em;
        }
        @include devices (tablet) {
            left: 8em;
        }
        @include devices (phone) {
            left: 2.5em;
        }
        //===============
    }

    #orders-list-admin {
        @include list-style;

        .customerAndOrders {
            width: 65em;

            // Breakpoints
            @include devices (laptop) {
                width: 60em;
            }
            @include devices (tablet) {
                width: 50em;
            }
            @include devices (phone) {
                width: 35em;
            }
            //==============================

            &.visible > .order {
                height: 5em;
                padding: 0.5em;
            }

            .customer {
                @include list-item-style;
                width: 100%;
                
                // Breakpoints
                @include devices (phone) {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 0.8em;
                    height: 6em;
                    gap: 5px;
                }
                //=================
    
                .expandCustomerBtn {
                    background: none;
                    border: none;
                    margin-left: 0.5em;
                    width: 1.5em;
                    cursor: pointer;

                    // Breakpoints
                    @include devices (phone) {
                        margin-left: 0;
                    }
                    //===================
    
                    i {
                        font-size: 1.5em;
                        color: white;
                    }
                }
        
                .customerTablePart {
                    @include table-part-style;
                    max-width: 20%;

                    // Breakpoints
                    @include devices (phone) {
                        max-width: 20%;
                        min-width: 15%;
                        overflow-x: scroll;
                    }
                    //================================
                    
                    .orderLegend {
                        display: flex;
                        justify-content: space-between;
                        margin-right: 0.5em;

                        //Breakpoints
                        @include devices (phone) {
                            font-size: 0.8em;
                            gap: 2px;
                            margin-right: 5em;
                        }
                        //===================
                        
                        div {
                            position: relative;
                            
                            span {
                                margin-top: 0;
                                
                                &:first-of-type {
                                    font-size: 2em;
                                }
                            }
        
                            .orderCount {
                                position: absolute;
                                top: 1.6em;
                                right: -0.4em;

                                // Breakpoints
                                @include devices (phone) {
                                    top: 2em;
                                }
                                //============  
                            }
                        }
                    }
                }
            }
    
            .order {
                @include list-item-style;
                width: 100%;
                position: relative;
                left: 0;
                background: rgb(0 0 0 / 64%);
                overflow: hidden;
                min-height: 0;
                padding: 0;
                height: 0;
                transition: 500ms;

                // Breakpoints
                @include devices (phone) {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 0.8em;
                }
                //=================
    
                .orderTablePart {
                    @include table-part-style;

                    // Breakpoints  
                    @include devices (tablet) {
                        min-width: 15%;
                        max-width: 15%;
                        overflow-x: scroll;
                    }
                    //========================
                }
    
                .orderStatus {
                    outline: none;
                    border-radius: 10px;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    font-size: 0.9em;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    margin: 0 auto;
                    margin-top: 0.5em;
                    width: 8em;

                    // Breakpoints
                    @include devices (phone) {
                        width: 7em;
                    }
                    //========================
                }

                .deleteOrderBtn {
                    background: none;
                    border: none;
                    margin-right: 0.5em;

                    // Breakpoints
                    @include devices (phone) {
                        margin-right: 0;
                    }
                    //============================

                    i {
                        cursor: pointer;
                        color: white;
                        font-size: 1.5em;

                        // Breakpoints
                        @include devices (tablet) {
                            font-size: 1.2em;
                        }
                        @include devices (phone) {
                            font-size: 1em;
                        }
                        //========================
                    }
                }
            }
        }
    }

    #orderStatusUpdateSuccessSplash {
        @include splash-style;

        #gotItBtn {
            @include main-btn-style;
        }
    }

    #delOrderConfirmSplash {
        @include splash-style;

        .mainBtns {
            display: flex;
            justify-content: space-between;
            width: 100%;

            #proceedBtn, #cancelBtn {
                @include main-btn-style;
                width: 8em;
            }
        }
    }

    #delOrderSuccesSplash {
        @include splash-style;

        #goBackBtn {
            @include main-btn-style;
        }
    }

    #noOrders {
        @include splash-style;
        flex-direction: row;
        width: 30em;
        height: 6em;
        border-radius: 10em;
        letter-spacing: 1px;
        font-size: 0.8em;

        // Breakpoints
        @include devices (phone) {
            font-size: 0.7em;
        }
        //===================

        p {
            width: 20em;
            font-size: 0.92em;
        }

        i {
            font-size: 1.5em;
        }
    }
}