@import 'mixins.scss';

#products-list-admin {
    @include list-style;

    .product {
        @include list-item-style;

        .productPreview {
            width: 8%;
            border-radius: 6px;
            box-shadow: 1px 1px 5px #353535;
        }

        .productTablePart {
            @include table-part-style;
        }

        .deleteItemBtn {
            @include delete-item-btn-style;
        }
    }
}

#clients-list-admin {
    @include list-style;

    .client {
        @include list-item-style;
        width: 70em;

        .clientTablePart {
            @include table-part-style;
            min-width: 15%;
            max-width: 15%;
        }

        .deleteItemBtn {
            @include delete-item-btn-style;
            margin-right: 0.5em;
        }
    }
}

#orders-list-admin {
    @include list-style;

    .order {
        @include list-item-style;

        .orderTablePart {
            @include table-part-style;
            max-width: 20%;

            .orderStatus {
                outline: none;
                border-radius: 10px;
                margin-top: 2em;
                padding: 0.3em;
                text-align: center;
                font-size: 0.8em;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
            }
        }
    }
}

#newProductForm {
    @include form-style;
    justify-content: space-evenly;
    height: 34em;
    top: 48.7%;

    #logoImage {
        @include logo-style;
    }

    h3 {
        @include title-style;
        margin: 0;
    }

    .newProductField {
        margin-bottom: 0.5em;
        font-size: 0.9em;

        &:first-of-type {
            margin-top: -1em;
        }

        .newProductInputField {
            @include input-field-style;

            &::placeholder {
                @include placeholder-style;
            }
        }

        #pricePreview {
            font-size: 0.9em;
            position: absolute;
            top: 25em;
            right: 1.2em;
            color: lime;
        }

        #newProductDescription {
            height: 5em;
            resize: none;
        }
    }

    #insertProductBtn {
        @include main-btn-style;
        margin-top: 0.5em;
    }
}