* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c1c1c1;
    height: 100vh;
    opacity: 0.8;

    #header {
        position: sticky;
        top: 0;        
    }
    
    main {
        min-height: 80.2vh;
        transition: 500ms ease-in-out;

        &.almostHidden{
            opacity: 0.050;
        }
    }
}