@import 'mixins.scss';

#loginForm {
    @include form-style;

    #logoImage {
        width: 8em;
        margin: 0 auto;
    }

    h3 {
        margin: 0.8em 0 0.5em 0;
        text-align: center;
        letter-spacing: 1px;
    }

    #adminField {
        display: none;
    }

    #adminField, #userField {
        margin-bottom: 1em;
    }

    #adminField, #userField, #passField {
        text-align: start;  
        font-size: 0.9em;

        #userID, #userPass, #userMail {
            @include input-field-style;
        }
    }

    #userSelectorField {
        text-align: center;
        margin: 1.5em 0;

        label {
            font-size: 0.8em;
            
            #userSelector {
                font-size: 0.9em;
                outline: none;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                margin-left: 0.5em;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #signInBtn {
        @include main-btn-style();
        margin: 0 0 1.5em 0;
    }

    #goToSignUpBtn {
        @include go-to-sign-in-sign-up-btn;
    }
}