@import 'mixins.scss';

#loginForm {
    @include form-style;

    #logoImage {
        @include logo-style;
    }

    h3 {
        @include title-style;
        margin-top: 1em;
    }

    #moreInfoBtn {
        position: absolute;
        top: 13.6em;
        left: 4em;
        background: none;
        color: white;
        border: none;
        font-size: 0.9em;
        cursor: pointer;
        z-index: 1;
    }

    #adminField {
        display: none;
    }

    #adminField, #userField {
        margin-bottom: 1em;
    }

    #adminField, #userField, #passField {
        text-align: start;  
        font-size: 0.9em;
        position: relative;

        #adminID, #userID, #userPass {
            @include input-field-style;

            &::placeholder {
                @include placeholder-style;
            }
        }

        i {
            color: #c1c1c1;
            display: block;
            position: absolute;
            top: 2.17em;
            right: 0.5em;
            text-decoration: none;
            cursor: pointer;
            
            &:last-of-type {
                display: none;
                margin-right: -1px;
                color: var(--primary-background-color);
                opacity: 0.8;
            }
        }
    }

    #signInBtn {
        @include main-btn-style();
        margin: 2.5em 0 1.5em 0;
    }

    #goToSignUpBtn {
        @include go-to-sign-in-sign-up-btn;
    }
}

#moreInfoSplash {
    @include splash-style;
    width: 20em;
    height: 8em;

    p {
        font-size: 0.8em;
    }

    #okBtn {
        @include main-btn-style;
        height: 2.7em;
        width: 25%;
        font-size: 0.7em;
    }
}

#emptyFieldSplash {
    @include splash-style;

    #gotItBtn {
        @include main-btn-style;
        width: 30%;
        border-radius: 10px;
    }
}

#userNotFoundSplash {
    @include splash-style;

    #tryAgainBtn {
        @include main-btn-style;
        width: 50%;
        border-radius: 10px;
    }    
}