@import 'mixins.scss';

#loginForm {
    @include form-style;

    #logoImage {
        @include logo-style;
    }

    h3 {
        @include title-style;
    }

    #adminField {
        display: none;
    }

    #adminField, #userField {
        margin-bottom: 1em;
    }

    #adminField, #userField, #passField {
        text-align: start;  
        font-size: 0.9em;

        #adminID, #userID, #userPass {
            @include input-field-style;

            &::placeholder {
                @include placeholder-style;
            }
        }
    }

    #signInBtn {
        @include main-btn-style();
        margin: 2.5em 0 1.5em 0;
    }

    #goToSignUpBtn {
        @include go-to-sign-in-sign-up-btn;
    }
}