@import 'mixins.scss';

#newProductForm {
    @include form-style;
    height: 34em;
    top: 48.7%;

    #logoImage {
        @include logo-style;
    }

    h3 {
        @include title-style;
    }

    .newProductField {
        margin-bottom: 1em;
        font-size: 0.9em;

        &:first-of-type {
            margin-bottom: 0.5em;
        }

        #newProductImage {
            margin-top: 0;
            margin-left: -0.5em;
            color: white;
            width: 100%;
            text-align: center;
        }

        .newProductInputField {
            @include input-field-style;

            &::placeholder {
                @include placeholder-style;
            }
        }

        #pricePreview {
            font-size: 0.9em;
            position: absolute;
            top: 23.2em;
            right: 1.2em;
            color: lime;
        }

        #newProductDescription {
            height: 5em;
            resize: none;
        }
    }

    #insertProductBtn {
        @include main-btn-style;
        margin-top: 0.5em;
    }
}