@import 'mixins.scss';

#signUpForm {
    @include form-style;
    height: 35em;
    top: 49.5%;

    #logoImage {
        @include logo-style;
    }

    h3 {
        @include title-style;
    }

    .newUserField {
        margin-bottom: 0.5em;

        .newUserInputField {
            @include input-field-style;

            &::placeholder {
                @include placeholder-style;
            }
        }

        &:last-of-type {
            input {

                &:last-of-type {
                    margin-top: 1.5em;
                }
            }
        }
    }

    #signUpBtn {
        @include main-btn-style;
        margin: 1em 0;
    }

    #goToSignInBtn {
        @include go-to-sign-in-sign-up-btn;
    }
}