* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #c1c1c1;
  height: 100vh;
  opacity: 0.8;
}
body #header {
  position: sticky;
  top: 0;
  z-index: 1;
}
body main {
  min-height: 80.2vh;
  transition: 500ms ease-in-out;
}
body main.almostHidden {
  opacity: 0.04;
}

#loginForm {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--primary-background-color);
  color: white;
  padding: 1em;
  height: 30em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
}
#loginForm #logoImage {
  width: 7em;
  margin: 0 auto;
}
#loginForm h3 {
  margin: 0.8em 0 0.5em 0;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
  margin-top: 1em;
}
#loginForm #adminField {
  display: none;
}
#loginForm #adminField, #loginForm #userField {
  margin-bottom: 1em;
}
#loginForm #adminField, #loginForm #userField, #loginForm #passField {
  text-align: start;
  font-size: 0.9em;
  position: relative;
}
#loginForm #adminField #adminID, #loginForm #adminField #userID, #loginForm #adminField #userPass, #loginForm #userField #adminID, #loginForm #userField #userID, #loginForm #userField #userPass, #loginForm #passField #adminID, #loginForm #passField #userID, #loginForm #passField #userPass {
  display: block;
  margin-top: 0.5em;
  outline: none;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--primary-background-color);
  letter-spacing: 0.5px;
}
#loginForm #adminField #adminID::-moz-placeholder, #loginForm #adminField #userID::-moz-placeholder, #loginForm #adminField #userPass::-moz-placeholder, #loginForm #userField #adminID::-moz-placeholder, #loginForm #userField #userID::-moz-placeholder, #loginForm #userField #userPass::-moz-placeholder, #loginForm #passField #adminID::-moz-placeholder, #loginForm #passField #userID::-moz-placeholder, #loginForm #passField #userPass::-moz-placeholder {
  font-size: 0.92em;
}
#loginForm #adminField #adminID::placeholder, #loginForm #adminField #userID::placeholder, #loginForm #adminField #userPass::placeholder, #loginForm #userField #adminID::placeholder, #loginForm #userField #userID::placeholder, #loginForm #userField #userPass::placeholder, #loginForm #passField #adminID::placeholder, #loginForm #passField #userID::placeholder, #loginForm #passField #userPass::placeholder {
  font-size: 0.92em;
}
#loginForm #adminField i, #loginForm #userField i, #loginForm #passField i {
  color: #c1c1c1;
  display: block;
  position: absolute;
  top: 2.17em;
  right: 0.5em;
  text-decoration: none;
  cursor: pointer;
}
#loginForm #adminField i:last-of-type, #loginForm #userField i:last-of-type, #loginForm #passField i:last-of-type {
  display: none;
  margin-right: -1px;
  color: var(--primary-background-color);
  opacity: 0.8;
}
#loginForm #signInBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 2.5em 0 1.5em 0;
}
#loginForm #goToSignUpBtn {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

#emptyFieldSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#emptyFieldSplash.visible {
  opacity: 1;
  z-index: 1;
}
#emptyFieldSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}

#userNotFoundSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#userNotFoundSplash.visible {
  opacity: 1;
  z-index: 1;
}
#userNotFoundSplash #tryAgainBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

#listProductsAdmin #products-list-admin {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 2em;
  padding: 3em;
}
#listProductsAdmin #products-list-admin .product {
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  border: 1px solid var(--border-and-shadow);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  width: 65em;
  min-height: 5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#listProductsAdmin #products-list-admin .product:hover {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#listProductsAdmin #products-list-admin .product .productPreview {
  width: 8%;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #353535;
}
#listProductsAdmin #products-list-admin .product .productTablePart {
  font-size: 0.8em;
  cursor: default;
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#listProductsAdmin #products-list-admin .product .productTablePart p, #listProductsAdmin #products-list-admin .product .productTablePart span, #listProductsAdmin #products-list-admin .product .productTablePart select {
  margin-top: 0.5em;
}
#listProductsAdmin #products-list-admin .product .deleteItemBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 12%;
}
#listProductsAdmin #products-list-admin .product .deleteItemBtn i {
  margin-right: 0.5em;
}
#listProductsAdmin #delProductErrorSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listProductsAdmin #delProductErrorSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listProductsAdmin #delProductErrorSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#listProductsAdmin #delProductConfirmSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listProductsAdmin #delProductConfirmSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listProductsAdmin #delProductConfirmSplash .mainBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#listProductsAdmin #delProductConfirmSplash .mainBtns #proceedBtn, #listProductsAdmin #delProductConfirmSplash .mainBtns #cancelBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 10em;
}
#listProductsAdmin #delProductSuccesSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listProductsAdmin #delProductSuccesSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listProductsAdmin #delProductSuccesSplash #goBackBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#addNewProductAdmin #newProductForm {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--primary-background-color);
  color: white;
  padding: 1em;
  height: 30em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
  justify-content: space-evenly;
  height: 34em;
  top: 49.5%;
}
#addNewProductAdmin #newProductForm #logoImage {
  width: 7em;
  margin: 0 auto;
}
#addNewProductAdmin #newProductForm h3 {
  margin: 0.8em 0 0.5em 0;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
  margin: 0;
}
#addNewProductAdmin #newProductForm .newProductField {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
#addNewProductAdmin #newProductForm .newProductField:first-of-type {
  margin-top: -1em;
}
#addNewProductAdmin #newProductForm .newProductField .newProductInputField {
  display: block;
  margin-top: 0.5em;
  outline: none;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--primary-background-color);
  letter-spacing: 0.5px;
}
#addNewProductAdmin #newProductForm .newProductField .newProductInputField::-moz-placeholder {
  font-size: 0.92em;
}
#addNewProductAdmin #newProductForm .newProductField .newProductInputField::placeholder {
  font-size: 0.92em;
}
#addNewProductAdmin #newProductForm .newProductField #pricePreview {
  font-size: 0.9em;
  position: absolute;
  top: 25em;
  right: 1.2em;
  color: lime;
}
#addNewProductAdmin #newProductForm .newProductField #newProductDescription {
  height: 5em;
  resize: none;
}
#addNewProductAdmin #newProductForm #insertProductBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.5em;
}
#addNewProductAdmin #newProductErrorSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#addNewProductAdmin #newProductErrorSplash.visible {
  opacity: 1;
  z-index: 1;
}
#addNewProductAdmin #newProductErrorSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#addNewProductAdmin #newProductSuccesSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#addNewProductAdmin #newProductSuccesSplash.visible {
  opacity: 1;
  z-index: 1;
}
#addNewProductAdmin #newProductSuccesSplash #returnBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#listCustomersAdmin #customers-list-admin {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 2em;
  padding: 3em;
}
#listCustomersAdmin #customers-list-admin .client {
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  border: 1px solid var(--border-and-shadow);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  width: 65em;
  min-height: 5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70em;
}
#listCustomersAdmin #customers-list-admin .client:hover {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#listCustomersAdmin #customers-list-admin .client .clientTablePart {
  font-size: 0.8em;
  cursor: default;
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 15%;
  max-width: 15%;
}
#listCustomersAdmin #customers-list-admin .client .clientTablePart p, #listCustomersAdmin #customers-list-admin .client .clientTablePart span, #listCustomersAdmin #customers-list-admin .client .clientTablePart select {
  margin-top: 0.5em;
}
#listCustomersAdmin #customers-list-admin .client .deleteCustomerBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 12%;
  margin-right: 0.5em;
}
#listCustomersAdmin #customers-list-admin .client .deleteCustomerBtn i {
  margin-right: 0.5em;
}
#listCustomersAdmin #delCustomerErrorSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listCustomersAdmin #delCustomerErrorSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listCustomersAdmin #delCustomerErrorSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#listCustomersAdmin #delCustomerConfirmSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listCustomersAdmin #delCustomerConfirmSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listCustomersAdmin #delCustomerConfirmSplash .mainBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#listCustomersAdmin #delCustomerConfirmSplash .mainBtns #proceedBtn, #listCustomersAdmin #delCustomerConfirmSplash .mainBtns #cancelBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 10em;
}
#listCustomersAdmin #delCustomerSuccesSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#listCustomersAdmin #delCustomerSuccesSplash.visible {
  opacity: 1;
  z-index: 1;
}
#listCustomersAdmin #delCustomerSuccesSplash #goBackBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#listOrdersAdm #orders-list-admin {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 2em;
  padding: 3em;
}
#listOrdersAdm #orders-list-admin .order {
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  border: 1px solid var(--border-and-shadow);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  width: 65em;
  min-height: 5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#listOrdersAdm #orders-list-admin .order:hover {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#listOrdersAdm #orders-list-admin .order .orderTablePart {
  font-size: 0.8em;
  cursor: default;
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20%;
}
#listOrdersAdm #orders-list-admin .order .orderTablePart p, #listOrdersAdm #orders-list-admin .order .orderTablePart span, #listOrdersAdm #orders-list-admin .order .orderTablePart select {
  margin-top: 0.5em;
}
#listOrdersAdm #orders-list-admin .order .orderTablePart .orderStatus {
  outline: none;
  border-radius: 10px;
  margin-top: 2em;
  padding: 0.3em;
  text-align: center;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
#signUp #signUpEmptyFieldSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#signUp #signUpEmptyFieldSplash.visible {
  opacity: 1;
  z-index: 1;
}
#signUp #signUpEmptyFieldSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#signUp #signUpPasswordErrorSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#signUp #signUpPasswordErrorSplash.visible {
  opacity: 1;
  z-index: 1;
}
#signUp #signUpPasswordErrorSplash #gotItBtn2 {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#signUp #signUpSuccessfulSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#signUp #signUpSuccessfulSplash.visible {
  opacity: 1;
  z-index: 1;
}
#signUp #signUpSuccessfulSplash #gotToLoginBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#loggedUser #posOrderSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#loggedUser #posOrderSplash.visible {
  opacity: 1;
  z-index: 1;
}
#loggedUser #posOrderSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}

#myOrders #my-orders-list {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 2em;
  padding: 3em;
}
#myOrders #my-orders-list .order {
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  border: 1px solid var(--border-and-shadow);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  width: 65em;
  min-height: 5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#myOrders #my-orders-list .order:hover {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#myOrders #my-orders-list .order .orderTablePart {
  font-size: 0.8em;
  cursor: default;
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 15%;
  max-width: 15%;
}
#myOrders #my-orders-list .order .orderTablePart p, #myOrders #my-orders-list .order .orderTablePart span, #myOrders #my-orders-list .order .orderTablePart select {
  margin-top: 0.5em;
}
#myOrders #my-orders-list .order .orderTablePart .orderStatus {
  outline: none;
  border-radius: 10px;
  padding: 0.3em;
  text-align: center;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  animation: blink 1000ms infinite;
}
#myOrders #my-orders-list .order .cancelOrderBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 13%;
  font-size: 0.75em;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myOrders #my-orders-list .order .cancelOrderBtn i {
  margin-right: 0.5em;
}
#myOrders #noOrders {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
  flex-direction: row;
  width: 30em;
  height: 5em;
  border-radius: 10em;
  letter-spacing: 1px;
  font-size: 0.8em;
}
#myOrders #noOrders.visible {
  opacity: 1;
  z-index: 1;
}
#myOrders #noOrders i {
  font-size: 1.5em;
}
#myOrders #cancelOrderSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#myOrders #cancelOrderSplash.visible {
  opacity: 1;
  z-index: 1;
}
#myOrders #cancelOrderSplash .mainBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#myOrders #cancelOrderSplash .mainBtns #proceedBtn, #myOrders #cancelOrderSplash .mainBtns #abortBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 10em;
}

#signUpForm {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--primary-background-color);
  color: white;
  padding: 1em;
  height: 30em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
  height: 35em;
  top: 49.5%;
}
#signUpForm #logoImage {
  width: 7em;
  margin: 0 auto;
}
#signUpForm h3 {
  margin: 0.8em 0 0.5em 0;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
}
#signUpForm .newUserField {
  margin-bottom: 0.5em;
}
#signUpForm .newUserField .newUserInputField {
  display: block;
  margin-top: 0.5em;
  outline: none;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--primary-background-color);
  letter-spacing: 0.5px;
}
#signUpForm .newUserField .newUserInputField::-moz-placeholder {
  font-size: 0.92em;
}
#signUpForm .newUserField .newUserInputField::placeholder {
  font-size: 0.92em;
}
#signUpForm .newUserField:last-of-type input:last-of-type {
  margin-top: 1.5em;
}
#signUpForm #signUpBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 1em 0;
}
#signUpForm #goToSignInBtn {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

:root {
  --primary-background-color: rgb(167, 0, 0);
  --secondary-background-color: rgba(0, 0, 0, 0.866);
  --main-box-shadow: 5px 5px 5px #898989;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  color: white;
  padding: 0 0.7em;
  box-shadow: var(--main-box-shadow);
}
#header #logo {
  cursor: default;
  font-weight: bold;
  font-size: 2.3em;
  letter-spacing: -0.03em;
}
#header #logo::after {
  display: inline-block;
  content: "";
  background-image: url("../img/logo-icon.webp");
  height: 30px;
  width: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.2em;
}
#header #headerMessage {
  font-style: italic;
  cursor: default;
}
#header #headerMessage span {
  font-weight: bold;
}
#header #headerMessage i {
  margin-left: 0.5em;
}
#header #headerMessage.hidden {
  display: none;
}
#header .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
#header .menu li {
  display: block;
}
#header .menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1.5em 0.7em;
}
#header .menu li a:hover {
  background-color: var(--secondary-background-color);
}
#header .menu li:hover > .subMenu {
  display: block;
}
#header .menu li #homeBtn {
  color: rgb(0, 255, 252);
  font-size: 1em;
  font-weight: bold;
}
#header .menu #logRouteBtn {
  color: rgb(0, 255, 252);
  font-size: 1em;
  font-weight: bold;
}
#header .menu .subMenu {
  background-color: var(--primary-background-color);
  display: none;
  position: absolute;
  top: 4.17em;
}

#products {
  color: #1a1a1a;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  -moz-column-gap: 7em;
       column-gap: 7em;
  row-gap: 4em;
  padding: 3em;
}
#products .product {
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  border: 1px solid var(--border-and-shadow);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  width: 16em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#products .product:hover {
  box-shadow: 2px 2px 10px white;
}
#products .product h4, #products .product p {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  cursor: default;
}
#products .product .productPreview {
  width: 200px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #353535;
}
#products .product .productDetails {
  margin: 1em 0 0.5em 0;
}
#products .product .productDetails .productTitle {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}
#products .product .productDetails .productDescription {
  max-width: 18em;
  word-wrap: break-word;
  margin-bottom: 1em;
}
#products .product .getItemBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#products .product .getItemBtn:hover {
  letter-spacing: 2px;
  transition: 400ms ease-in-out;
}

#loadingSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
  opacity: 1;
  z-index: -1;
  display: none;
}
#loadingSplash.visible {
  opacity: 1;
  z-index: 1;
}
#loadingSplash #retryBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#unloggedSplash {
  width: 25em;
  height: 15em;
  padding: 0 2em;
  background-color: rgb(167, 0, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  cursor: default;
  transform: 1000ms;
  opacity: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
#unloggedSplash.visible {
  opacity: 1;
  z-index: 1;
}
#unloggedSplash #gotItBtn {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

#footer {
  color: white;
  background-color: black;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 0.7em;
  position: absolute;
  padding: 1em 0;
  bottom: auto;
  width: 100%;
  cursor: default;
}
#footer p {
  margin-bottom: 0.4em;
}
#footer #socialMedia {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 0.4em;
  width: 10.5em;
}
#footer #socialMedia a {
  color: white;
  text-decoration: none;
}
#footer #socialMedia a:hover {
  text-shadow: 0px 0px 1px white;
}
#footer #email a {
  color: white;
  text-decoration: none;
}
#footer #email a:hover {
  text-shadow: 0px 0px 1px white;
}/*# sourceMappingURL=index.css.map */