@import 'base.scss';

:root {
    --primary-background-color: rgb(167, 0, 0);
    --secondary-background-color: rgba(0, 0, 0, 0.866);
    --border-and-shadow: #898989;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c1c1c1;
    height: 100vh;
    opacity: 0.8;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-background-color);
    color: white;
    padding: 0 0.7em;
    box-shadow: 5px 5px 5px var(--border-and-shadow);

    #logo {
        cursor: default;
        font-weight: bold;
        font-size: 2.3em;
        letter-spacing: -0.03em;

        &::after {
            display: inline-block;
            content: '';
            background-image: url('../img/logo-icon.webp');
            height: 30px;
            width: 47px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 0.2em;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        li {
            display: block;

            a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 1.5em 0.7em;
                
                &:hover {
                    background-color: var(--secondary-background-color);
                }
            }

            &:hover {
                > .subMenu {
                    display: block;
                }
            }
        }

        #logOutBtn {
            color: rgb(0, 255, 252);
            font-size: 0.9em;
            font-weight: bold;
        }

        .subMenu {
            background-color: var(--primary-background-color);
            display: none;
            position: absolute;
            top: 4.15em;
        }
    }
}

#products {
    color: #1a1a1a;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 7em;
    row-gap: 4em;
    padding: 3em;

    .product {
        background-color: var(--primary-background-color);
        color: white;
        text-align: center;
        border: 1px solid var(--border-and-shadow);
        border-radius: 10px;
        box-shadow: 5px 5px 5px var(--border-and-shadow);
        width: 16em;
        padding: 2em 1em; 

        &:hover {
            box-shadow: 2px 2px 10px white;
        }

        h4, p {
            margin-bottom: 0.5em;
            font-size: 0.8em;
            cursor: default;
        }

        .productPreview {
            width: 200px;
            border-radius: 6px;
            box-shadow: 1px 1px 5px #353535;
        }

        .productDetails {    
            margin: 1.5em 0;

            .productTitle {
                font-size: 1.2em;
                letter-spacing: 0.5px;
            }
        }

        .getItemBtn {
            width: 100%;
            padding: 0.8em;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            background-color: var(--secondary-background-color);
            color: white;
            font-size: 1em;
            font-weight: bold;
            
            &:hover {
                letter-spacing: 2px;
                transition: 400ms ease-in-out;
            }
        }
    }
}

#footer {
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 0.7em;
    position: absolute;
    padding: 1em 0;
    bottom: auto;
    width: 100%;
    cursor: default;

    p {
        margin-bottom: 0.4em;
    }

    #socialMedia {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 0.4em;
        width: 10.5em;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-shadow: 0px 0px 1px white;
            }
        }
    }

    #email {
        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-shadow: 0px 0px 1px white;
            }
        }
    }
}